body{
    background: whitesmoke;
}

.bar{
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    backdrop-filter: blur(10px);
    border: 1px solid black;
    z-index: 1400;
}

.text{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
}

.text::selection{
    background-color: rgb(255, 254, 206);
    color: rgb(200, 200, 71);
}

.grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  left: 100px;
}

.item{
  background: white;
  opacity: 100%;
  border: 1px solid #999;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  font-family: sans-serif;
  color: black;
  transition: background 150ms ease-in;
}

.item:hover{
    background: lightgreen;
}

.czech{
    background: rgb(189, 255, 136);
    opacity: 100%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    font-family: sans-serif;
    color: black;
    transition: background 150ms ease-in;
}

.czech:hover{
    background-color: rgb(255, 255, 147);
}

@keyframes appear{
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

h1{
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.gifted{
    background: rgb(255, 247, 159);
    opacity: 100%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    font-family: sans-serif;
    color: rgb(110, 116, 0);
    transition: background 150ms ease-in;
}